:root {
  --color-blue-light-1: rgb(224, 232, 255);
  --color-blue-light-2: rgb(245, 247, 255);

  --color-blue-dark-1: rgb(114, 128, 167);
  --color-blue-dark-2: rgb(31, 47, 86);
  --color-blue-dark-3: rgb(76, 62, 227);
  --color-blue-dark-4: rgb(56, 41, 224);

  --color-white: rgb(255, 255, 255);

  // FONT WEIGHTS
  --sm-wght: 500;
  --md-wght: 700;
  --lg-wght: 900;
}

$bp-small: 37.5em;
$bp-smallest: 25em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-smallest) {
    font-size: 50%;
  }
}

body {
  font-family: "Red Hat Display" sans-serif;
  font-weight: var(--sm-wght);
  font-size: 1.6rem;
  text-align: center;
  color: var(--color-blue-dark-1);
  background-color: var(--color-blue-light-1);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @media only screen and (max-width: $bp-small) {
    background-image: url(../images/pattern-background-mobile.svg);
  }
}

.container {
  max-width: 37.5rem;
  background-color: var(--color-white);
  margin: 10rem auto;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
}

.header {
  &__img {
    width: 100%;
  }
}

.main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.heading {
  font-size: 3rem;
  color: var(--color-blue-dark-2);
  font-weight: var(--lg-wght);
}

.plan {
  width: 100%;
  background-color: var(--color-blue-light-2);
  padding: 2rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 2rem;

    @media only screen and (max-width: $bp-smallest) {
      margin-right: 1.5rem;
    }
  }

  &__text {
    margin-right: auto;

    &-heading {
      font-weight: var(--md-wght);
      color: var(--color-blue-dark-2);
      margin-bottom: 0.4rem;
    }
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--color-blue-dark-4);
    font-weight: var(--md-wght);
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: var(--color-blue-dark-3);
  }
}

.cta {
  display: inline-block;
  width: 100%;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
  background-color: var(--color-blue-dark-4);
  color: var(--color-white);
  box-shadow: 0 0.5rem 3rem rgba(56, 41, 224, 0.5);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: var(--color-blue-dark-3);
  }
}

.cancel:link,
.cancel:visited {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
  font-weight: var(--md-wght);
  transition: all 0.2s;

  &:hover,
  &:active {
    color: var(--color-blue-dark-2);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-blue-dark-2);
}
